h1 {
  font-family: "Microsoft Yahei";
  font-weight: lighter;
  text-align: center;
  margin-top: 100px;
}
p {
  font-family: "Microsoft Yahei";
  font-weight: lighter;
  text-align: center;
}
div {
  padding-top: 50px;
  text-align: center;
}
a {
  text-decoration: none;
}
#use_img {
  text-align: center;
  margin: 0 auto;
}
#pic {
  margin-left: 10px;
  margin-right: 10px;
}